.footer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center; 
  background-color: $footer_colour;
  padding: 10px 20px;

  &__college {
    justify-self: center;
    @include target-device(tablet-portrait-up) {
      justify-self: start;
    }

    &_logo {
      border-bottom: 2px solid white;
      padding-bottom: 10px;
    }

    &_name {
      font-family: BodyFontRegular;
      color: white;
      margin: 0;
      font-size: 12.6px;
    }

    &_link {
      text-decoration: none;
    }
  }

  &__social {
    margin-left: 0;
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-column-gap: 5px; 
    align-items: baseline;
    justify-self: center;

    @include target-device(tablet-portrait-up) {
      margin-left: 50%;
      justify-self: end;
    }
  }

  &__social_icon {
    min-width: 30px;
    max-height: 36px;
  }

  &__social_link {
    text-align: center;
  }

  .logo {
    justify-self: center;
  }

  @include target-device(tablet-portrait-up) {
    grid-template-columns: repeat(3, 1fr);
  }
}