@font-face {
  font-family: 'BodyFontBold';
  src:  url('../fonts/OpenSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'BodyFontRegular';
  src:  url('../fonts/OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'TitleFontBold';
  src:  url('../fonts/SourceSerifPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'TitleFontRegular';
  src:  url('../fonts/SourceSerifPro-Regular.woff') format('woff');
}