/wp-admin
/wp-includes
/wp-content/plugins
/wp-content/*.*
/wp-content/ai1wm-backups
/wp-content/themes/*.*
/wp-content/upgrade
/wp-content/uploads
/wp-content/languages
/wp-snapshots
/*.php
/*.html
/*.txt
/*.htaccess
