.footer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
  align-items: center; 
  background-color: $footer_colour;
  padding: 20px 30px;

  &__college {
    justify-self: center;
    @include target-device(tablet-landscape-up) {
      justify-self: start;
    }

    &_logo {
      border-bottom: 2px solid white;
      padding-bottom: 10px;
    }

    &_name {
      font-family: BodyFontRegular;
      color: white;
      margin: 0;
      font-size: 12.6px;
    }

    &_link {
      text-decoration: none;
    }
  }

  &_social {
    margin-left: 0;
    display: grid;
    grid-template-columns: min-content 80px;
    grid-column-gap: 15px; 
    align-items: flex-start;
    justify-self: center;

    &__icon {
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }
  
    &__link {
      text-align: center;
      font-size: 0;
    }

    &__site_link {
      font-family: BodyFontRegular;
      color: white;
      margin: 0;
      font-size: 12.6px;
      line-height: 2.2em;
      text-decoration: none;
    }

    @include target-device(tablet-landscape-up) {
      justify-self: end;
    }
  }

  &__logo {
    justify-self: center;

    .logo {
      justify-self: center;
      max-width: calc(100vw - 60px);
    }

    &_address {
      font-family: BodyFontRegular;
      color: white;
      margin: 0;
      font-size: 12.6px;
      text-align: center;
    }
  }
  
  @include target-device(tablet-landscape-up) {
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 80px;
  }

  @include target-device(desktop-up) {
    padding: 50px 120px;
  }
}