.nav_menu {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center; 
  border-bottom: 10px solid $accent;
  padding: 20px 0;
  
  .logo {
    max-width: 100%;
  }

  &__links {
    display: none;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 50px 10px 30px;
    position: absolute;
    top: -16px;
    width: 100vw;
    background-color: white;
    z-index: 99;
    box-sizing: border-box;

    &.show {
      display: grid;
      @include target-device(tablet-landscape-up) {
        display: grid;
      }
    }

    &.hide {
      display: none;
      @include target-device(tablet-landscape-up) {
        display: grid;
      }
    }

    &:before {
      content: url('../images/times.svg');
      position: absolute;
      top: 5px;
      left: 10px;
      width: 30px;
      cursor: pointer;
    }

    .menu-item {
      margin: 10px 0;

      & > a.active {
        border-bottom: 1px solid $hover_colour;
      }

      @include target-device(tablet-landscape-up) {
        margin: 0;
      }
    }

    .search_form {
      margin-left: 20px;

      &:before {
        content: url('../images/icons/search.svg');
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: -5px;
        cursor: default;
      }

      &__input {
        font-family: BodyFontRegular;
        font-size: 14px;
        line-height: 14px;
        border: 1px solid $input_border;
        border-radius: 5px;
        position: relative;
        max-width: 150px;
        padding: 5px;
        margin-top: -5px;

        &::placeholder {
          text-transform: uppercase;
          color: $menu_text;
        }
      }
    }

    @include target-device(tablet-landscape-up) {
      display: grid;
      position: relative;
      grid-template-columns: repeat(7, max-content);
      justify-content: space-evenly;
      padding: 0;
      top: 0;
      width: 100%;

      &:before {
        display: none;
      }
    }
  }

  &__link, a {
    font-family: BodyFontRegular;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: $menu_text;
  }

  &__home {
    background-image: url('../images/icons/home.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;

    &:hover {
      background-image: url('../images/icons/home-hover.svg');
    }

    &.active {
      background-image: url('../images/icons/home-hover.svg');
      border-bottom: 1px solid $hover_colour;
    }

    a {
      font-size: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__item {
    position: relative;

    &:hover {
      cursor: pointer;

      .nav_menu__link, > a {
        border-bottom: 1px solid $hover_colour;
      }

      & .sub-menu {
        display: block;
      }
    }

    & > a {
      font-family: BodyFontBold;

      @include target-device(tablet-landscape-up) {
        font-family: BodyFontRegular;
      }
    }
  }

  &__search {
    display: none;
  }

  .show_search {
    a {
      margin-left: 20px;
    }

    &:before {
      content: url('../images/icons/search.svg');
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
    }
  }

  .sub-menu {
    position: relative;
    left: 0;
    padding: 0;
    margin: 0 0 0 20px;
    width: 200px;
    display: block;
    list-style: none;
    background-color: transparent;
    z-index: 99;

    &:hover {
      display: block;
    }

    &__item {
      padding: 0;

      &:hover a {
        border-bottom: 1px solid $hover_colour;
      }

      @include target-device(tablet-landscape-up) {
        padding: 5px 0;
      }
    }

    @include target-device(tablet-landscape-up) {
      position: absolute;
      display: none;
      top: 21px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin: 0 0 0 -10px;
      padding: 10px 10px;
      background-color: white;
    }
  }

  @include target-device(tablet-landscape-up) {
    grid-template-columns: 1fr 2fr;
  }
}

.mobile_nav_bar {
  height: 50px;
  background-color: $hover_colour;
  position: relative;

  &__img {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 30px;
    cursor: pointer;
  }

  &__signin {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 40px;
    cursor: pointer;
  }

  @include target-device(tablet-landscape-up) {
    display: none;
  }
}

.signin_bar {
  display: none;
  height: 30px;
  width: 100vw;
  background-color: $hover_colour;
  position: relative;
  padding: 0;

  &__text, &__login, &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__text {
    left: 4%;
    color: white;
    font-family: BodyFontBold;
    font-size: 14px;
    line-height: 1.4em;
  }

  &__login {
    right: 4%;
    color: white;
    font-family: BodyFontBold;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__icon {
    left: -30px;
    width: 20px;
  }

  @include target-device(tablet-landscape-up) {
    display: block;
  }
}