.upload_form {
  margin: 0;

  &__label {
    font-family: TitleFontBold;
    font-size: 24px;
    color: $page_copy;
  }

  &__button, &__file {
    font-family: BodyFontRegular;
    font-size: 20px;
    cursor: pointer;
  }

  &__button {
    background-color: $hover_colour;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 30px 0;
    padding: 10px 5px;
  }

  &__file {
    color: $hover_colour;
  }
}

.file_table {
  width: 100%;

  &__row:nth-child(odd) {
    background-color: lighten($input_border, 10);
  }

  &__row:nth-child(even) {
    background-color: lighten($input_border, 15);
  }

  &__item {
    font-family: BodyFontRegular;
    font-size: 20px;
    padding: 16px 16px;
  }
}