$accent: #44C5CB;
$content_copy: #333;
$page_copy: #4f4f4f;
$content_title: black;
$menu_text: #4f4f4f;
$footer_colour: #4f4f4f;
$hover_colour: #F53D52;
$link_hover_colour: #40A0D7;
$logo_1: #FF9200;
$logo_2: #44C5CB;
$logo_3: #F53D52;
$logo_4: #FCE315;
